<div class="course">
    <h1> {{course.title}} </h1>

    <img src="{{course.logo}}" alt="{{course.title}}">

    <div class="price big">
        {{course.price}}
    </div>

    <a class="btn btn-primary go-back" href="/courses">Back</a>
</div>